<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Blank Template</title>

		<!-- external CSS link -->
		<script src="https://unpkg.com/phosphor-icons"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">About us</a></li>
					<li><a href="#">Contact</a></li>
					<img src="" alt="website logo">
					<li><a href=""><i class="fa-brands fa-searchengin"></i></a></li>
					<li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
					<li><a href=""><i class="fa-solid fa-dove"></i></a></li>
				</ul>
			</nav>
		</header>
		<section id="main">
			<h1>Satisfying Taste Made With Love From The Best Hands</h1>
			<!-- <span>The perfect dish everytime specially for you <br>From our oven to your door.</span> -->
			<p>The perfect dish everytime specially for you <br>From our oven to your door.</p>
			<button>Order Now <i class="fa-solid fa-arrow-right-long"></i></button>
			<section id="bakerImageSection">
				<img src="./img/alexander-naglestad-RFhq0SrrgEg-unsplash (1).jpg" alt="B's Image">
			</section>
		</section>

		<section id="itemsProducedSection">
			<h2>What We Make</h2>
			<button>Moffins</button>
			<button>cake</button>
			<button>Donuts</button>
			<button>Cookies</button>
			<section>
				<div class="hidden muffis">
					<img src="" alt="">
				</div>
				<div class="hidden cake"></div>
				<div class="hidden donuts"></div>
				<div class="hidden cookie"></div>
			</section>

		</section>
		<section class="sampleOfCakeHidden">
			<img src="./img/giovanni-randisi-eb1wlORlADA-unsplash.jpg" alt="smallCakeImage">
			<h3>Muffins</h3>
			<section class="inner">

				<span>Chocolate Muffins</span>
				<i class="fa-solid fa-dove"></i>
				<i class="fa-solid fa-dove"></i>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas repellat obcaecati doloremque aliquid rerum .</p>
				<a href=""><button id="innerButton" class="hidden">Order Now <i class="fa-solid fa-arrow-right-long"></i></button></a>
			</section>
		</section>
		<section id="bestSeller">
			<h2>Our Best Sellers</h2>
			<p>These items are our top selling items. Customers demand for these items are increasing day by day.</p>
			<section id="innerBestSellerOrder">
				<div>
					<img src="./img/giovanni-randisi-eb1wlORlADA-unsplash.jpg" alt="donuts">
					<h4>Donuts</h4>
				</div>
				<div>
					<img src="./img/giovanni-randisi-eb1wlORlADA-unsplash.jpg" alt="">
					<h4>Pistacho Cake</h4>
				</div>
				<div>
					<img src="./img/crazy-cake-5-vwhoWr2vk-unsplash.jpg" alt="">
					<h4>Cookie</h4>
				</div>
			</section>
		</section>
		<section id="ourStory">
			<sec>
				<h2>Our Story</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, perferendis. Laborum, iste nihil nobis modi nemo voluptate repudiandae magnam neque mollitia, laudantium aperiam aliquam eveniet tempora voluptatum qui autem. Minus.</p>
			</sec>
			<!-- <sec class="ourStoryImg-grid">
				<section class="ourStoryImgInnerSection grid-col-span-2">
					<img class="ourStoryImg" src="./img/crazy-cake-5-vwhoWr2vk-unsplash.jpg" alt="cakeImg">
				</section>
				<section class="ourStoryImgInnerSection">
					<img class="ourStoryImg" src="./img/giovanni-randisi-eb1wlORlADA-unsplash.jpg" alt="Cupcake">
				</section>
				<section class="ourStoryImgInnerSection grid-col-span-2">
					<img class="ourStoryImg" src="./img/giovanni-randisi-eb1wlORlADA-unsplash.jpg" alt="Wedding cake">
				</section>
				<section class="ourStoryImgInnerSection">
					<img class="ourStoryImg" src="./img/giovanni-randisi-eb1wlORlADA-unsplash.jpg" alt="">
				</section>
			</sec>
		</section> -->
		<section class="testimonial-grid">
			<article class="testimonial">
				<h2>we are on 1</h2>
				<!-- <img src="./img/giovanni-randisi-eb1wlORlADA-unsplash.jpg" alt=""> -->
			</article>
			<article class="testimonial grid-col-span-2">
				<h2>we are on 2</h2>
				<!-- <img src="./img/alexander-naglestad-RFhq0SrrgEg-unsplash (1).jpg" alt=""> -->
			</article>
			<article class="testimonial grid-col-span-2">
				<h2>we are on 3</h2>
				<!-- <img src="./img/alexander-naglestad-RFhq0SrrgEg-unsplash (1).jpg" alt=""> -->
			</article>
			<article class="testimonial">
				<h2>we are on 4</h2>
				<!-- <img class="border" src="./img/alexander-naglestad-RFhq0SrrgEg-unsplash (1).jpg" alt=""> -->
			</article>
		</section>


		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
