<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Blank Template</title>

		<!-- external CSS link -->
		<script src="https://unpkg.com/phosphor-icons"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">About us</a></li>
					<li><a href="#">Contact</a></li>
					<img src="" alt="website logo">
					<li><a href=""><i class="fa-brands fa-searchengin"></i></a></li>
					<li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
					<li><a href=""><i class="fa-solid fa-dove"></i></a></li>
				</ul>
			</nav>
		</header>
		<section id="main">
			<h1>Satisfying Taste Made With Love From The Best Hands</h1>
			<span>The perfect dish everytime specially for you <br>From our oven to your door.</span>
			<p>The perfect dish everytime specially for you <br>From our oven to your door.</p>
			<button>Order Now <i class="fa-solid fa-arrow-right-long"></i></button>
		</section>

		<section id="bakerImageSection">
			<img src="#" alt="B's Image">
		</section>
		<section id="itemsProducedSection">
			<h2>What We Make</h2>
			<button>Moffins</button>
			<button>cake</button>
			<button>Donuts</button>
			<button>Cookies</button>
			<section>
				<div class="hidden muffis">
					<img src="" alt="">
				</div>
				<div class="hidden cake"></div>
				<div class="hidden donuts"></div>
				<div class="hidden cookie"></div>
			</section>

		</section>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
