/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     background-color: whitesmoke;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
     background:  /* #818A83; */rgb(129,138,131);
     margin: 0;
     padding: 30px;
}
header ul{
     list-style: none;
     display: flex;
     justify-content: space-around;
}
nav a{
     text-decoration: none;
     color: white;
}
#main{
     text-align: center;
}
#main button{
     background: rgb(35,68,78);
     padding: 15px 25px;
     color: white;
     border: 2px solid rgb(108,142,117);
     border-radius: 25px;
}
#main button i{
     color: orange;
}

#bakerImageSection {
     align-items: center;
     /* text-align: center; */
     /* height: 100vh; */
}
#bakerImageSection img{
     justify-content: center;
     align-items: center;
     padding: 30px;
     height: 80%;
     width: 90%;
     border-radius: 50px;
}
#itemsProducedSection{
     text-align: center;
}
#itemsProducedSection button{
     color: #F08E62 ;
     /* background-color: #F08E62; */
     border: 2px solid #C9DBBF;
     margin: 15px;
     padding:7px 18px;
     border-radius: 25px;
     background-color: whitesmoke;
}
#itemsProducedSection button:hover{
     background-color: #F08E62;
     transition: 1s;
     animation-delay: 1sec;
     color: whitesmoke;
}

.sampleOfCakeHidden{
     border: 2px solid #C4C8C5;
     width: 25%;
     /* 20, 25% */
     border-radius: 15px;
     padding: 10px;
     text-align: center;
     align-items: center;
     /* height: 50vh; */
}
.sampleOfCakeHidden img{
     width: 30%;
    border-radius: 70px 70px;
}
.sampleOfCakeHidden button{
     background: rgb(35,68,78);
     padding: 1rem 3rem;
     color: white;
     border: 2px solid rgb(108,142,117);
     border-radius: 25px;
}
.sampleOfCakeHidden button i{
     color: orange;
}
#bestSeller{
     background: rgb(169,175,175);
     /* align-items: center; */
     text-align: center;
}
#innerBestSellerOrder{
     display: flex;
     justify-content: center;
     /* text-align: center; */
}
#innerBestSellerOrder div{
     background-color: white;
     margin-inline: 1rem;
}
#innerBestSellerOrder img{
     width: 100%;
     padding: 1rem;
     border-radius: 1.5rem;
}
#ourStory{
     display: flex;
     padding-inline: 8rem;
}
.hidden{
     display: none;
}




.grid-col-span-2{
     grid-column: span 2;
}
.testimonial-grid{
     display: grid;
     gap: 1.5rem;
     grid-template-columns: repeat(3, 1fr);

     padding-block: 2rem;
     width: min(95%, 70rem);
     margin-inline: auto;
}
.testimonial-grid img{
     width: 100%;
}
.testimonial{
     font-size: var(--fs-400);
     padding: 1rem;
     border-radius: 0.5rem;
     box-shadow: 2,5rem;
     background-image: url(../img/alexander-naglestad-RFhq0SrrgEg-unsplash\ \(1\).jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
}


footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
