/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     background-color: whitesmoke;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
     background:  /* #818A83; */rgb(129,138,131);
     margin: 0;
     padding: 30px;
}
header ul{
     list-style: none;
     display: flex;
     justify-content: space-around;
}
nav a{
     text-decoration: none;
     color: white;
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
